body{
	background-image: url(https://i.ytimg.com/vi/Awmr5V4ielI/maxresdefault.jpg);
	padding: 20px;
	margin: 300px;
}

h1{
	color: black;
	font-size: 40px;
    font-weight: bold;
    padding-left: 90px;
    

}

p{
	color: black;
	font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 160px;
}


.guess
{
    font-family: "Segoe UI", Arial, Sans-serif;
    font-size: 20px;
    padding: 5px;

}
.guess:hover
{
    background-color: #eee;
    cursor: pointer;
}

#but
{
	color: grey;
	width: 60px;
	border: 50px;
	height: 35px;


}

#word
{
	padding: 10px;
}

